.big-title-orange {
  font-size: 80px;
  color:var(--orange);
  font-family: 'Rubik Mono One', monospace;
  position: "relative";
  width: fit-content;
  z-index: 4;
  display: grid;
  justify-content: center;
  align-content: center;
  padding-top: 40px !important;
  margin: 0 auto;
}

.text-black {
  font-weight: 300;
  font-size: 18px;
  color: var(--black);
  width: 720px;
  margin: 20px 0px 45px 0px;
}

.artists-sub-title {
  font-size: 24px;
  margin: 0;
  font-family: 'Rubik Mono One';
  color: var(--black);
}

.artists-content {
  max-width: 900px;
  margin: 0 auto;
}

.artist-content {
  display: flex;
  height: 350px;
  gap: 40px;
}

.artist-content-img {
  flex: 1;
  display: grid;
  justify-content: center;
  align-content: center;
}

.artist-content-text {
  flex: 1;
  text-align: left;
  overflow: hidden;
  margin: auto 0;
}

.circular {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.circular img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  width: 430px; /* Set your desired width */
  overflow: hidden;
  white-space: pre-wrap;
}

.carousel-btn {
  border: none;
  border-radius: 50%;
  background-color: var(--background);
  height: 80px;
  width: 80px;
  position: absolute;
  top: calc(50% - 25px)
}

.carousel-btn:hover {
  cursor: pointer;
  background-color: var(--orange) !important;
  color: var(--background);
}

.pagination-btn {
  border: none;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: grid;
  align-content: center;
  justify-content: center;
  margin: 4px;
}

.pagination-btn:hover {
  cursor: pointer;
  background-color: var(--orange);
  color: white;
}

.pagination-btn-active {
  background-color: var(--orange) !important;
  color: white !important
}