.big-title-orange {
  font-size: 80px;
  color:var(--orange);
  font-family: 'Rubik Mono One', monospace;
  position: "relative";
  width: fit-content;
  z-index: 4;
  display: grid;
  justify-content: center;
  align-content: center;
  padding-top: 40px !important;
  margin: 0 auto;
}

.text-black {
  font-weight: 300;
  font-size: 18px;
  color: var(--black);
  width: 720px;
  margin: 20px 0px 45px 0px;
}

.artists-sub-title {
  font-size: 24px;
  margin: 0;
  font-family: 'Rubik Mono One';
  color: var(--black);
}

.artists-content {
  max-width: 900px;
  margin: 0 auto;
}

.artist-content {
  display: flex;
  height: 350px;
  gap: 40px;
}

.artist-content-img {
  flex: 1;
  display: grid;
  justify-content: center;
  align-content: center;
}

.artist-content-text {
  flex: 1;
  text-align: left;
  overflow: hidden;
  margin: auto 0;
}

.circular {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.circular img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 850px) {
  .circular {
    width: 200px;
    height: 200px;
  }
}

.container {
  width: 430px; /* Set your desired width */
  overflow: hidden;
  white-space: pre-wrap;
}

.carousel-btn {
  border: none;
  border-radius: 50%;
  color: var(--black);
  background-color: var(--background);
  height: 20px;
  width: 20px;
  position: absolute;
  top: calc(50% - 85px)
}
@media only screen and (max-width: 1610px) {
  .carousel-btn {
    display: none !important;
  }
}


.carousel-btn:hover {
  cursor: pointer;/* 
  background-color: var(--orange) !important; */
  color: var(--orange);
}

.pagination-btn {
  border: 2.5px solid var(--black);
  border-radius: 50%;
  padding: 0;
  width: 12px;
  height: 12px;
  margin: 4px;
  color: var(--background);
 
}

.pagination-btn:hover {
  cursor: pointer;
  background-color: var(--orange);
  border: 3px solid var(--orange);
}

.pagination-btn-active {
  background-color: inherit;
  background-color: var(--black);
}
.artist-blur {
  filter: blur(1rem);
  -webkit-filter: blur(1rem);
}