.big-title-orange {
  font-size: 80px;
  color:var(--orange);
  font-family: 'Rubik Mono One', monospace;
  position: "relative";
  width: fit-content;
  z-index: 4;
  display: grid;
  justify-content: center;
  align-content: center;
  padding-top: 40px !important;
  margin: 0 auto;
}

.artists-sub-title {
  font-size: 24px;
  margin: 0;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  color: var(--black);
}

.artists-content {
  max-width: 900px;
  margin: 0 auto;
}

.artist-content {
  display: flex;
  height: 350px;
  gap: 40px;
}

.artist-content-img {
  flex: 1;
  display: grid;
  justify-content: center;
  align-content: center;
}

.artist-content-text {
  flex: 1;
  text-align: left;
  overflow: hidden;
  margin: auto 0;
}

.circular {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.circular img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.container {
  width: 430px;
  overflow: hidden;
  white-space: pre-wrap;
}

.carousel-btn {
  border: none;
  color: var(--black);
  background-color: var(--background);
}

.carousel-btn:hover {
  cursor: pointer;
  color: var(--orange);
}

.break {
  flex-basis: 100%;
  height: 0;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  margin-bottom: 40px;
}

.pagination-btn {
  border: 2.5px solid var(--black);
  border-radius: 50%;
  padding: 0;
  width: 12px;
  height: 12px;
  margin: 4px;
  color: var(--background);
  background-color: var(--background);
}

.pagination-btn:hover {
  cursor: pointer;
  background-color: var(--orange);
  border: 3px solid var(--orange);
}

.pagination-btn-active {
  background-color: inherit;
  background-color: var(--black);
}
.artist-blur {
  filter: blur(1rem);
  -webkit-filter: blur(1rem);
}

.link {
  text-decoration: none;
  color: var(--black);
  opacity: 0.5;
}
.link:hover {
  color: var(--orange);
  text-decoration: none;
  opacity: 1;
}
