#root {
  height: 100vh;
  width: 100%;
  background-color: white;
}

@media only screen and (max-width: 990px) {
  .navbar {
    display: none !important;
  }
}

.navbar-menu > p {
  margin: auto 20px;
}

.navbar-menu > p:hover {
  cursor: pointer;
  margin: auto 20px;
  color: #fb8300;
}