#root {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
}

.app-maintenance-mode {
  display: grid;
  width: 100%;
  background-color: black;
}

.app-maintenance-mode-center {
  margin: auto;

}

@media only screen and (max-width: 990px) {
  .navbar-menu-options {
    display: none !important;
  }
}

.navbar-menu > div p {
  margin: auto 20px;
}

.navbar-menu-options > p:hover {
  cursor: pointer;
  margin: auto 20px;
  color: #fb8300;
}

.main-header::before {
  content: "";
  display: block;
  position: absolute;
  top: 100;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* Change the color and opacity as needed */
  z-index: 1;
}

.main-header {
  /*background-image: url("https://www.gannett-cdn.com/-mm-/05e97d16e7fb53439a4222e53dcba47d4d31dde8/c=0-97-1280-584/local/-/media/USATODAY/USATODAY/2014/06/04/1401911998000-AP-Color-Cosmos.jpg?width=3200&height=1680&fit=crop");
  */
  background-color: #202124;
  top: 100%;
  background-position: center;
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.header-right-side {
  background-image: url("./assets/loss.png");
  top: 100%;
  background-position: center;
  color: black;
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
}

.chain {
  background-image: url("./assets/barbwire.png");
  top: 100%;
  background-position: center;
  color: black;
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
}

.main-header-text > p {
  margin: 0;
  padding: 0;
}

.counter {
  margin: 12px;
  display: grid;
  justify-content: center;
  align-content: center;
}




.tick-flip {
  width: 100px;
}

.tick-flip,.tick-text-inline {
  font-size:2.5em;
}

@media only screen and (max-width: 990px) {
  .tick-flip {
    width: 60px;
  }
  .tick-flip,.tick-text-inline {
    font-size:1.5em;
  }
}

.tick {
  font-size:1rem; white-space:nowrap; 
}

.tick-label {
  margin-top:1em;font-size:1em;
}

.tick-char {
  width:1.5em;
}

.tick-text-inline {
  display:inline-block;text-align:center;min-width:1em;
}

.tick-text-inline+.tick-text-inline {
  margin-left:-.325em;
}

.tick-group {
  margin:0 .5em;text-align:center;
}

.tick-text-inline {
   color: rgb(90, 93, 99) !important; 
}

.tick-label {
   color: rgb(90, 93, 99) !important; 
}

.tick-flip-panel {
   color: rgb(0, 0, 0) !important; 
}

.tick-flip {
   font-family:inherit !important; 
}

.tick-flip-panel-text-wrapper {
   line-height: 1.45 !important; 
}

.tick-flip-panel {
   background-color: rgb(247, 255, 247) !important; 
}

.tick-flip {
   border-radius:0.12em !important; 
}

.tick-credits {
  display: none !important;
}



.timeline-outer-circle:hover .timeline-inner-circle {
  cursor: pointer;
  transform: scale(2);
  transition: transform 0.5s;
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);
}