body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #fb8300;
  background-color: #000;
}

code {
  font-family: 'Rubik Mono One', monospace;
  font-family: 'Kanit', sans-serif;
}

iframe {
  border: 0;
}