table {
  font-size: 22px;
}

th, td {
  padding: 18px 200px;
  opacity: 1;
}

.absolute-centered {
  position: absolute; 
  left: 0; 
  right: 0;
  margin-left: auto; 
  margin-right: auto; 
}

.big-title-black {
  font-size: 40px;
  color:var(--black);
  font-family: 'Rubik Mono One', monospace;
  z-index: 4;
  margin: 0 auto;
}
.title-black {
  font-size: 24px;
  color:var(--black);
  font-family: 'Rubik Mono One', monospace;
  z-index: 4;
  margin: 0 auto;
}